/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
@import url('./css/presentacion.css');
@import url('./css/sobre-mi.css');
@import url('./css/skills.css');
@import url('./css/softskills.css');
@import url('./css/formacion.css');
@import url('./css/proyectos.css');

:root {
    --color-fondo: #F5F5F5;
    --color-seccion: #EAF2FD;
    --color-card: #FFFFFF;
    --color-nav-link: #333b46;
    --color-link: #1B64CC;
    --color-hover-link:#5842CA;
    --color-azul: #2A7AE4;
    --color-hover1: #D4E4FA;
    --color-hover2: #5595E9;
    --color-footer: #3d2962;
}



/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.titulo__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align: center;
}

.navegacion__lista {
    display: none;
}

.navegacion__elemento a {
    font-size: 0.9rem;
    color: var(--color-nav-link);
}
.navegacion__elemento a:hover {
    color: var(--color-hover-link);
}
/* ------------------------------ Footer ------------------------------*/
.footer {
    background-color: var(--color-footer);
    color: var(--color-fondo);
    text-align: center;
    padding: 1rem;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}
